@page "/"
@using BlimpBot.Pages
@model HomePageModel

@{
    ViewData["Title"] = "BlimpBot HomePage";
}

<h1>Hello and welcome to BlimpBot's homepage! Hope you have a nice day.</h1>

I am currently in @(Model.Chats.Count) chat(s). The names of these chat(s) are:
<table>
    <tr>
        <th>Chat Name</th>
        <th>Last message received (AWST)</th>
    </tr>
    @foreach (var chat in Model.Chats)
    {
        <tr>
            <td>
                @Html.DisplayFor(i=>chat.Name)
            </td>
            <td>
                @TimeZoneInfo.ConvertTimeFromUtc(chat.LastMessageReceived
                                                               .Value
                                                               .ToUniversalTime(),
                                                           TimeZoneInfo.FindSystemTimeZoneById("W. Australia Standard Time")).ToString("dd-MMM-yyyy hh:mm:ss tt")
            </td>
        </tr>
    }
</table>


